.featured__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.featured__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  margin: 0;
}

.featured__name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63D1BB;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

.featured__description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.featured__parameters {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 370px;
  background-image: url("../img/triple-set-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.featured__element {
  text-align: left;
  padding-right: 30px;
}

.featured__parameter {
  width: 162px;
  text-align: left;
}

.featured__cost {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

.featured__button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 2px solid #444444;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 73px;
}
