.page-header__container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.page-header {
padding-top: 22px;
padding-left: 116px;
padding-right: 31px;
margin-bottom: 20px;
}

.page-header__logo {
  width: 85px;
  height: 35px;
  margin-right: 67px;
}

.page-header__button {
  width: 20px;
  height: 35px;
  background-image: url(../img/icon-menu-open.svg);
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-header__logo-wrapper{
   display: none;
  }

  .page-header__button {
    display: none;
  }

  .page-header__container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
