.page-footer {
  background: @light-gray;
  padding-top: 25px;
}

.page-footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.page-footer__text {
  vertical-align: super;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.page-footer_svg {
  padding-left: 27px;
  width: 30px;
  height: 37px;
}
