.page-footer {
  background: @light-gray;
}

.page-footer__logo-link {
display: none;
}

social-list {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
display: flex;
justify-content: center;
text-align: center;
}

.page-footer__text {
  padding-top: 7px;
  vertical-align: super;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  margin-right: 27px;
}

.page-footer_svg {
  width: 30px;
  height: 37px;
}
