.product {
  margin-bottom: 30px;
  min-width: 320px;
}

.product__list {
  list-style-type: none;
}

.product-link--light {
  background-color: @sea;
}

.product-link--dark {
  background-color: @dark-sea;
}

.product-link {
  display: block;
  text-decoration: none;
  color: white;
  font-family: @base-font;
  font-size: 19px;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 160px;
  padding-left: 30px;
  min-height: 48px;

  
}

@media (min-width: @tablet-width) {
  .product {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .product__list {
    display: flex;
  }

  .product-link {
    flex-grow: 1;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
  }
}
