.product {
  margin-bottom: 30px;
}

.product__list {
  margin: 0;
  padding: 0;
}

.product__item {
  list-style-type: none;
  padding-top: 24px;
  padding-bottom: 31px;
}

.product__item--light {
  background-color: @sea;
}

.product__item--dark {
  background-color:@dark-sea;
}

.product-link {
  text-decoration: none;
  color: white;
  font-family: @fontbold;
  font-size: 19px;
  line-height: 24px;
}
