.site-navigation {
  display: none;
}

.site-navigation__list {
  padding: 0;
  text-align: center;
}

.site-navigation__item {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.site-navigation__link {
  text-decoration: none;
  color: black;
}

.site-navigation__delivery {
  display: none;
}

.site-navigation__list--lower {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-navigation {
    display: block;
    order: 1;
  }

  .site-navigation__item {
    font-size: 15px;
  }


  .site-navigation__list {
    display: flex;
    margin: 0;
    padding-top: 20px;
  }

  .site-navigation__list--lower {
    display: none;
  }

  .site-navigation__link--catalog {
    margin-right: 38px;
  }

  .site-navigation__link--order {
    margin-right: 135px;
  }

  .site-navigation__delivery {
    display: block;
    font-size: 15px;
    order: 2;
    margin: 0;
    padding-top: 20px;
  }
}

@media (min-width: @desktop-width) {


}
