.site-navigation {
  display: none;
}

.site-navigation__list {
  padding: 0;
  text-align: center;
}

.site-navigation__item {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.site-navigation__link {
  text-decoration: none;
  color: black;
}

.site-navigation__delivery {
  display: none;
}

.site-navigation__list--lower {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-navigation {
   display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  .site-navigation__logo {
    margin-bottom: 22px;
    margin-right: 200px;
  }

  .site-navigation__list--left {
    display: flex;
    margin: 0;
    order: -1;
    flex-grow: 1;
    margin-right: 100px;
  }

  .site-navigation__list--right {
    display: flex;
    width: 340px;
    font-size: 15px;
    line-height: 24px;
  }

  .site-navigation__item--right {
    flex-grow: 1;
  }

.site-navigation__container {
  display: flex;
  width: 768px;
  background-color: #F9F9F9;
  order: 3;
}

.site-navigation__item--left {
  font-size: 15px;
  line-height: 24px;
  flex-grow: 1;
} 

  .site-navigation__delivery {
    width: 380px;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    background-color: #F9F9F9;
    font-style: normal;
    font-weight: normal;
    padding-left: 0;
    margin: 0;
    order: 2;
    flex-grow: 0;
    
  }
}

@media (min-width: @desktop-width) {
  .site-navigation {
    align-items: baseline;
  }

  .site-navigation__logo {
    margin: 0;
    margin-right: 100px;

  }

  .site-navigation__list--left {
    order: -1;
    background-color: white;
  }

  .site-navigation__item {
    flex-grow: 1;
  }

  .site-navigation__list--lower {
    display: flex;
    margin: 0;
    min-width: 422px;
    background-color: #F9F9F9;
    margin-right: 270px;
  }

  .site-navigation__item--lower {
    font-size: 15px;
    line-height: 24px;
  }

  .site-navigation__list--right {
    min-width: 317px;
  }

  .site-navigation__delivery {
    min-height: 24px;
  }
}
