.site-navigation {
  display: none;
}

.site-navigation__list {
  padding: 0;
  text-align: center;
}

.site-navigation__item {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.site-navigation__link {
  text-decoration: none;
  color: black;
}

.site-navigation__delivery {
  display: none;
}

.site-navigation__list--lower {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-navigation {
    display: block;
    order: 1;
  }

  .site-navigation__delivery {
    display: block;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
 

}
