.social-list {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  min-height: 28px;
  padding: 0;
  flex-wrap: wrap;
}

.social-list__item {
  &:not(:last-child) {
margin-right: 40px;
}
}
